<!DOCTYPE html>
<html>
    <head>
        <title> Buster's Best Bowling Alley</title>
    </head>
    <body>
        <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <p> 97 Bowling Alley Lane, Boulder CO </p>
        <h3>These are our opening times:</h3>
        <p>Some opening times</p>
    </body>
</html>
